{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="container  py-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-3">My profile</h3>
            <h4 class="card-subtitle my-3">이메일 : {{ user.email }}</h4>
            <h5 class="card-text">닉네임 : {{ user.nickname }}</h5>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary ms-3 my-3 end" href="{% url 'accounts:change_password' %}">change password</a>
        <a class="btn btn-primary ms-3 my-3 end" href="{% url 'accounts:delete' %}">Delete account</a>
    </div>
</div>

{% endblock content %}